{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h5 class="display-5">List Data</h5>
            <div class="text-success font-weight-bold">
                {% if msg %}
                    <div class="badge bg-success text-wrap font-weight-bold" style="font-size: large;">
                        {{ msg }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row my-5 offset-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                </tr>
                </thead>
                <tbody>
                {% for data in datas %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ data.id }}</td>
                        <td>{{ data.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}