<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/docs/">Docs</a></li>
                    <li class="nav-item"><a class="nav-link" href="/redoc/">Redoc</a></li>
                {% endif %}
                {% if not current_user %}
                    <li class="nav-item"><a class="nav-link" href="/register/">Signup</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
                {% endif %}
                {% if current_user %}
                    <li class="nav-item"><a class="nav-link" href="/logout/">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="/datas/">Data</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>